
.myCustomText {
    display: inline-block;
    font-weight: bold;
 }

 .customTile {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s;
 }

 .customTile:hover {
    border: 7px solid;
 }

 .customIcon {
    cursor: pointer;
    color: grey;
 }

 .customIcon:Hover {
   color: white;
 }
